* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
html, body {
  height: 100%;
  width: 100%;
}

.cursor{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  position: fixed;
  background-color: #EDBFFF;
  z-index: 9;
  transition: background-image ease 0.5s;
  background-size: cover;
  background-position: center;
  mix-blend-mode: difference;
}

.main{
    background-color: #0F0F0D;

}

.page1{
  min-height: 60vh;
    width: 100%;
    border-bottom: 2px solid #0F0F0D;
    padding-top: 18vw;

    
}

#nav{
  
    height: 60px;
    width: 100%;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 0 30px;
     position: fixed;
     mix-blend-mode: difference;
     z-index: 102;
     cursor: pointer;
}

#nav img{
  height: 25px
  
}

#nav-part2{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#nav #circle{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #fff
}

#nav h4{
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

#nav h4:nth-child(1){
  text-decoration: underline;

}

.page1 h1{
text-align: center;
 font-size: 7vw;
 font-weight: 600;
 line-height: 4vw;
 
}

.page1 h2{
  text-align: center;
  font-size: 7vw;
  font-weight: 600;
  
 }

 .page1 p{
  width: 66%;
  padding-top: 1.5rem;
  padding-left: 32.5%;
  text-align: center;
  font-size: 1.3vw;
  font-weight: 100;
  
 }

 .page1 video{
  width: 60%;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 15vw;
 }

 .page2{
  min-height: 100vh;
  width: 100%;
  padding-left: 100px;
  border-bottom: 2px solid #161616;
}

.page2 h1{
  font-size: 7vw;
  font-weight: 300;
  padding-bottom: 2vw;
}

.page2-container{
  height: 60vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5vw;
}

.page-left{
  width: 35%;
}

.page-right{
  width: 40%;
}

.page-left h2{
font-size: 4vw;
font-weight: 50;
line-height: 4vw;
}

.page-right p{
  font-size: 28px;
  padding-bottom: 20px;
  line-height: 25px;
}

.page-right button{
  width: 100%;
  border-radius: 50px;
  border: none;
  padding: 4px 0;
  background-color: #EDBFFF;
  color: black;

}
.page3{
  width: 100%;
  padding-left: 100px;
  border-bottom: 2px solid #161616;
}

.page3 h1{
  position: absolute;
  padding-top: 5vw;
  font-size: 5rem;
  font-weight: 100;
}

.page3-part1{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page3-part2{
  
  padding-bottom: 20vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page3-part1 video{
  margin-left: 30vw;
}

.page3-part1 img{
  margin-top: 25vw;
}

.text-container{
  margin-left: 30vw;
}


.page3-part2 video{
  margin-top: 25vw;

}


.img-container{
  position: absolute;
  margin-left: 55vw;
}

.page4{
  min-height: 120vh;
  width: 100%;
  z-index: 9;
  position: relative;
  padding: 170px 100px;
  border-bottom: 2px solid #161616;

}
.elem{
  /* background-color: salmon; */
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.elem img{
  width: 30%;
  position: absolute;
  opacity: 0;
  transition: all ease-out 0.5s;
  transform: translateY(10%) rotate(2deg);
}
.elem img:nth-child(1){
  left: 2%;
}
.elem img:nth-child(3){
  right: 2%;
}
.text-div{
  height: 16vh;
  position: relative;
  z-index: 9;
  overflow: hidden;
}
.elem h1{
  cursor: pointer;
  font-size: 6vw;
  font-weight: 600;
  transition: all ease-out 0.5s;
}

.elem:hover h1{
  transform: translateY(-100%);
  
}
.elem:hover img{
  opacity: 1;
  transform: translateY(0%) rotate(0deg);

}
.page5{
  min-height: 100vh;
  width: 100%;
  position: relative;
  z-index: 9;
  padding: 140px 100px;
}

.page5 h2{
  font-size: 5vw;
  color: white;
  text-transform: uppercase;
  padding-bottom: 2rem;
}

.box-container{
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 2px solid white;
height: 100px;
padding: 0px 20px;
  font-size: 1.2vw;
}

.box-container:nth-last-child(1){
  border-bottom: 2px solid white;
}


.second-container{
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer{
  min-height: 100vh;
  width: 100%;
  position: relative;
  z-index: 9;
  padding: 140px 100px;
  border-bottom: 2px solid #ffffff;
}

.footer-container{
  display: flex;
  align-items: center;
  justify-content: space-between;

}
footer h1{
  font-size: 6vw;
  width: 56%;
}

footer h2{
  background-color: white;
  color: black;
  border-radius: 50%;
  padding: 100px 40px;
  border: none;
  cursor: pointer;

}

footer p{
  font-size: large;
  text-align: center;
  padding-top: 12rem;
  padding-bottom: 8rem;
}

#purple{
  height: 100%;
  width: 100%;
  top: 0;
  position: fixed;
  background-color: #EDBFFF;
  z-index: 100;
  opacity: 0;
  display: none;
  transition: all ease 1s;
}